<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./../css/index.css">
    <title>WEBAPP PROJECT</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="jumbotron jumbotron-fluid" id="start">
        <div class="text caption center-block text-center">
            <h1>Welcome to Bookflix</h1>
            <h4>There is no friend as loyal as a book. <br>
                ― Ernest Hemingway
            </h4>
        </div>
    </div>
    <section class="text-center my-5">

        <h2 class="h1-responsive font-weight-bold text-center my-5">Top Books of the Month</h2>
        <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
            nostrum quisquam eum porro a pariatur veniam.</p>

        <div class="row">
           <% books.slice(-4).forEach(function(element){ %>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="card collection-card z-depth-1-half">
                    <div class="view zoom">
                        <a href="/books/<%= element.id %>">
                            <img src= "<%= element.img %>" class="img-fluid" alt="">
                        </a>
                        <div class="stripe light">
                            <a>
                                <p> <%= element.name %>
                                    <i class="fas fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
           <% })%>
        </div>
    </section>
    <%- include('partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>